*
{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body
{
     font-family: 'Arial', 'Lato';
}

section
{
     width: 100%;
     height: 100vh;
     background: linear-gradient(-45deg, #051937, #A8EB12, #B50C7A);
     background-size: 300%, 300%;
     animation: bg 10s ease-in-out infinite;
}

section h1 
{
     padding: 35px;
     border: 1px solid #fff;
     font-size: 3em;
     color: #fff;
     text-shadow: 10px 5px 5px #000;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

@keyframes bg{
     0%{
          background-position: 0 50%;
     }
     50%{
          background-position: 100% 50%;
     }

     0%{
          background-position: 0 50%;
     }
}